.row {
    width: 100%;

    &.headers {
        font-weight: bold;
        border-bottom: 1px solid black;

        .column {
            text-align: center;
            font-size: 18px;
        }
    }

    &.details {

        .column {
            border-right: 1px solid gray;
            height: 95vh;
            overflow-y: auto;
            vertical-align: top;
        }

        .column:last-child {
            border-right: 0px;
        }        
    }

    .column {
        width: 33%;
        display: inline-block;
    }
}
