<div>
    <div class="row headers">
        <div class="column">To Do</div>
        <div class="column">In Progress</div>
        <div class="column">Done</div>
    </div>

    <div class="row details">
        <div class="column">
            <app-card *ngFor="let item of todo" [epic]="item" [status]="todoStatus"></app-card>
        </div>
        <div class="column">
            <app-card *ngFor="let item of inProgress" [epic]="item" [status]="inProgressStatus"></app-card>
        </div>
        <div class="column">
            <app-card *ngFor="let item of done" [epic]="item" [status]="doneStatus"></app-card>
        </div>
    </div>
</div>